.container1 {
  display: flex;
  flex-direction: row;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 5px solid rgb(210, 184, 16);
  padding: 30px;
  margin: 10px;
  height: 400px;
}
